body{
    font-family: Arial, sans-serif;
}
.box{
	width: 300px; 
    margin: 20px; 
	background-color: lightblue;      /* Background color */
    border-style: solid;
	border-color: blue;
	border-width:15px;
    padding: 50px;                    /* Padding inside the box */
    margin: 20px; 
}
/* Your CSS Code here. */